*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-box{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    justify-content: center;
    align-content: space-around;

}

.nameSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nameSec p, h2{
    margin: 0;
}




